.wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.innings {
    width: 80%;
    float:left; /* add this */
}
.scores {
    padding-left: 1%;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.green-color {
    background-color: #CCCCCC;
}