div.teamHome div.player:before{
    content: "";
    position: absolute;
    border-top: 1px solid #CCCCCC;
    width: 2em;
    transform: rotate(85deg);
    transform-origin: 0% 0%;
    margin-left: -0.1em;
}

div.teamVisitor div.player:before{
    content: "";
    position: absolute;
    border-top: 1px solid #CCCCCC;
    width: 2em;
    transform: rotate(95deg);
    transform-origin: 0% 0%;
    margin-left: 0.1em;
}