div.player:before{
    content: "";
    position: absolute;
    border-top: 1px solid #CCCCCC;
    width: 78px;
    transform: rotate(85deg);
    transform-origin: 0% 0% 1110px;
    margin-left: -6px;
}

div.player{
    display:inline;
}